@model B2b_1.Models.Entity.tbl_Supply

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tbl_Supply</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Size)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeliveryCondition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeliveryCondition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Specification)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Specification)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentTerms)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentTerms)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MinimumOrderQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinimumOrderQuantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShelfLife)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShelfLife)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Packaging)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Packaging)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PreservationMethod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PreservationMethod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuthorityPerson)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuthorityPerson)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SupplyCapacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SupplyCapacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeliveryTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeliveryTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductOrigin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductOrigin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsHome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsHome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GeneralProductInformation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GeneralProductInformation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_Suppliers.SupplierName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_Suppliers.SupplierName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
